@import '~styles/_index';

.page-button-rct-component {
  @include mquery($width-breakpoint-md) {
    border-radius: 10px;
  }

  background: $gradient-green-1;
  border: 0;
  border-radius: 20px;
  color: $white;
  cursor: pointer;
  font-family: $font-orbitron;
  font-size: 20px;
  font-weight: $font-weight-bold;
  padding: $fluid-spacing-lg 0 calc(#{$fluid-spacing-lg} - 5px);
  margin: 0 30px;

  &:hover {
    background: $gradient-green-2;
  }

  &:active {
    background: $green;
  }
}