In order for the project to run, create a `secret-variables.env` file and add your own credentials:

ADMIN_EMAIL and ADMIN_PASSWORD must be valid emails for an account you're willing to use as admin
account for the project (like one from mailgun)

CHOKIDAR_USEPOLLING allows for hot-reloading on VM enviroments (such as docker containers) when set to
true, necessary thus on Windows 10

DANGEROUSLY_DISABLE_HOST_CHECK disables host checking on a non-local environment that is still
development mode, such as loading the whole project on containers on a remote server

MYSQL_DATABASE, MYSQL_HOST, MYSQL_PASSWORD, MYSQL_ROOT_PASSWORD, and MYSQL_USER are variables to be
used by both PhpMyAdmin and the Server image to access the database provided by the MySQL image

REACT_APP_SERVER_PORT specifies the port to be used by the Server and is needed to pass onto the
Client for a reliable connection within the project

RECEIVER_EMAIL must be a valid email you regularly access that will receive emails from the admin
to notify of contact messages, app usages, etc.

ADMIN_EMAIL=youradminemail
ADMIN_PASSWORD=youradminpassword
CHOKIDAR_USEPOLLING=yourvalue
DANGEROUSLY_DISABLE_HOST_CHECK=yourvalue
MYSQL_DATABASE=yourmysqldatabase
MYSQL_HOST=yourmysqlhost
MYSQL_PASSWORD=yourmysqlpassword
MYSQL_ROOT_PASSWORD=yourrootpassword
MYSQL_USER=yourmysqluser
REACT_APP_SERVER_PORT=yourreactserverport
RECEIVER_EMAIL=your@email.com