In order for the project to run, create a `secret-variables.env` file and add your own credentials:

ADMIN_EMAIL=john@example.com
ADMIN_PASSWORD=johnpassword
MYSQL_DATABASE=yourmysqldatabase
MYSQL_HOST=yourmysqlhost
MYSQL_PASSWORD=yourmysqlpassword
MYSQL_ROOT_PASSWORD=yourrootpassword
MYSQL_USER=yourmysqluser
REACT_APP_SERVER_PORT=yourreactserverport