@import '~styles/_index';

.form-button-rct-component {
  width: 100%;

  &__action-button {
    @include mquery($width-breakpoint-sm) {
      height: 27px;
    }

    border: 0;
    border-radius: 25px;
    color: $white;
    font-family: $font-roboto;
    font-size: $font-size-sm-2;
    font-weight: $font-weight-bold;
    height: 36px;
    width: 100%;

    &.pic, &.submit {
      background: $green-darken-3;
      cursor: pointer;

      &:hover {
        background: $greendream-green;
      }

      &.error {
        background: $red-lighten-2;
        border: 2px solid $white;
      }
    }

    &.disabled {
      background: $grey-darken-4;
      cursor: not-allowed;

      &.error {
        background: $red-lighten-2;
        border: 2px solid $white;
      }

      &:hover {
        background: $grey-darken-4;
      }
    }
  }

  &.pic {
    @include mquery($width-breakpoint-sm) {
      width: calc(100% - 15px);
    }

    width: calc(100% - 20px);
  }

  &.submit {
    @include mquery($width-breakpoint-sm) {
      padding: 0 15px 15px;
    }

    border-radius: 0 0 $fluid-dim-xs-1 $fluid-dim-xs-1;
    padding: 0 20px 20px;
    width: 100%;
  }

  &.error {
    background: $red-lighten-2;
  }
}