@import '~styles/_index';

.program-specs-rct-component {
  flex-direction: column;
  &__spec-row {
    margin-bottom: 20px;

    .title {
      color: $greendream-black-green;
      font-family: $font-orbitron;
      font-size: $font-size-sm-1;
      font-weight: $font-weight-bold;
      text-align: right;
      width: 30%;
    }

    .description {
      flex-direction: column;
      padding-left: $fluid-spacing-xl-2;
      text-align: left;
      width: calc(70% - #{$fluid-spacing-xl-2});
    }
  }
}