$green: #00ff00;
$greendream-green: #00b456;
$greendream-dark-green: #005a2b;
$greendream-black-green: #002d16;

$white: #ffffff;
$black: #000000;

$grey-darken-2: #090a0f;
$grey-darken-1: #1b2735;

$gradient-black-green-1: linear-gradient(to bottom, $black 0%, $greendream-dark-green 90%, $greendream-dark-green 100%);
$gradient-green-black-1: linear-gradient(to bottom, $greendream-dark-green 0%, $greendream-dark-green 10%, $greendream-black-green 90%, $greendream-black-green 100%);
$gradient-light-green-green: linear-gradient(to bottom, $greendream-green 0%, $greendream-green 10%, $greendream-dark-green 90%, $greendream-dark-green 100%);
$gradient-neon-light-green-green: linear-gradient(to bottom, $green 0%, $green 10%, $greendream-green 90%, $greendream-green 100%);
