@import './_mixins';

$width-breakpoint-lg: 1440px;
$width-breakpoint-md: 1024px;
$width-breakpoint-sm: 768px;

$fluid-spacing-lg: fluid-spacing(8px, 28px);
$fluid-spacing-md: fluid-spacing(10px, 15px);
$fluid-spacing-sm: fluid-spacing(6px, 12px);

$fluid-dim-lg: fluid-dim(202px, 448px);
$fluid-dim-md: fluid-dim(250px, 500px);
$fluid-dim-sm: fluid-dim(120px, 440px);

// names are tentative
$fluid-dim-xs: fluid-dim(40px, 52px);
$fluid-dim-2xs: fluid-dim(15px, 25px);
$fluid-dim-3xs: fluid-dim(8px, 13px);
$fluid-dim-xxs: fluid-dim(50px, 75px);
$fluid-dim-xxs-r: fluid-dim(25px, 38px);

:export {
  lg: $width-breakpoint-lg;
  md: $width-breakpoint-md;
  sm: $width-breakpoint-sm;
}

