$max-window-width: 1900px;
$min-window-width: 360px;

/// Generates font with a stroke of the given color.
/// @access public
/// @param {Color} $color - Stroke Color in Hex value
/// @param {Integer} $width - Stroke Width in pixels
/// @example scss - Usage
///   .fancytext {
///     @include text-stroke(#00b456, 1px);
///   }
/// @example css - Result
///   .fancytext {
///     -webkit-text-stroke: #00b456 1px;
///     text-stroke: #00b456 1px;
///   }
@mixin text-stroke($color, $width) {
  -webkit-text-stroke: $width $color;
  text-stroke: $width $color;
}

/// Removes the unit of a given number
/// @access public
/// @param {Integer} $number - number in pixels
/// @example Usage
///   strip-unit(50px)
/// @example Result
///   50
@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

/// Generates a font given a minimum and maximum size based
/// on minimum and maximum window width
/// @access public
/// @param {Integer} $min-size - minimum font size
/// @param {Integer} $max-size - maximum font size
/// @example scss - Usage
///   .foo {
///     font-size: fluid-font-size(72px, 96px);
///   }
/// @example css - Result
///   .foo {
///     font-size: 83px;
///   }
@function fluid-font-size($min-size, $max-size) {
  @return calc(#{$min-size} + #{strip-unit($max-size - $min-size)} * (100vw - #{$min-window-width}) / #{strip-unit($max-window-width - $min-window-width)});
}

/// Generates a fluid spacing (for margin and padding) given
/// a minimum and maximum size based on minimum and maximum
/// window width
/// @access public
/// @param {Integer} $min-size - minimum spacing in pixels
/// @param {Integer} $max-size - maximum spacing in pixels
/// @example scss - Usage
///   .foo {
///     padding-top: fluid-spacing(6px, 12px);
///   }
/// @example css - Result
///   .foo {
///     padding-top: 9px;
///   }
@function fluid-spacing($min-size, $max-size) {
  @return calc(#{$min-size} + #{strip-unit($max-size - $min-size)} * (100vw - #{$min-window-width}) / #{strip-unit($max-window-width - $min-window-width)});
}

/// Generates a dimension given a minimum and maximum size based
/// on minimum and maximum window width
/// @access public
/// @param {Integer} $min-size - minimum dimension size
/// @param {Integer} $max-size - maximum dimension size
/// @example scss - Usage
///   .foo {
///     width: fluid-dim(180px, 440px);
///   }
/// @example css - Result
///   .foo {
///     width: 440px;
///   }
@function fluid-dim($min-size, $max-size) {
  @return calc(#{$min-size} + #{strip-unit($max-size - $min-size)} * (100vw - #{$min-window-width}) / #{strip-unit($max-window-width - $min-window-width)});
}

/// Media query helper for declaring media queries by width, and, optionally, ratio.
/// @access public
/// @param {Length} $width - Max-width
/// @param {Number | False} $ratio [false] - Min device pixel ratio
/// @example scss - Usage
///   .foo {
///     @include mquery(350px, 2) {
///       width: 100%;
///     }
///   }
@mixin mquery($width, $ratio: false) {
  @if $ratio {
      @media
          only screen and (max-width: $width) and  (min--moz-device-pixel-ratio: $ratio),
          only screen and (max-width: $width) and  (-webkit-min-device-pixel-ratio: $ratio),
          only screen and (max-width: $width) and  (min-device-pixel-ratio: $ratio) {
          @content;
      }
  } @else {
      @media only screen and (max-width: $width) {
          @content;
      }
  }
}

/// Generates a background with a set opacity.
/// @access public
/// @param {String} $color - Color in Hex value
/// @param {Float} $opacity - Opacity
/// @example scss - Usage
///   .foo {
///     background: background-with-opacity(#00b456, 0.5);
///   }
/// @example css - Result
///   .foo {
///     background: rgba(0, 180, 86, 0.5);
///   }
@function background-with-opacity($color, $opacity) {
  @return rgba($color, $opacity);
}
