@import '~styles/_index';

.plays-span-rct-component {
  @include mquery($width-breakpoint-md) {
    border-radius: 15px;
    margin-left: 30px;
  }

  @include mquery($width-breakpoint-sm) {
    border-radius: 0 0 15px 15px;
    border-top: 0;
    margin: 0 auto;
    padding: 14px 28px;
  }

  border: 1px solid $greendream-dark-green;
  border-radius: 20px;
  margin-left: 60px;
  padding: 0 28px;
  width: $fluid-dim-lg-3;

  &__text {
    font-family: $font-orbitron;
    font-size: $font-size-md-1;
    font-weight: $font-weight-bold;
    margin: auto 0;
    padding-right: 20px;
  }

  &__count {
    @include text-stroke(1px, $greendream-dark-green);

    color: $greendream-green;
    font-family: $font-orbitron;
    font-size: $font-size-xl-2;
    font-weight: $font-weight-bold;
    height: $fluid-dim-sm-1;
    line-height: $fluid-dim-sm-1;
    margin: auto 0 auto auto;
  }
}