@import '~styles/_index';

.page-body-rct-component {
  color: $greendream-dark-green;
  font-family: $font-roboto;
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}