@import '~styles/_index';

.external-button-rct-component {
  width: 100%;

  &__action-button {
    @include mquery($width-breakpoint-sm) {
      height: 27px;
    }

    border: 0;
    border-radius: 25px;
    color: $white;
    font-family: $font-orbitron;
    font-size: $font-size-md;
    font-weight: $font-weight-bold;
    height: 36px;
    width: 100%;

    &.submit {
      background: none;
      border: 2px solid $white;
      cursor: pointer;

      &:hover {
        background: $greendream-green;
      }

      &.error {
        background: none;
        border: 2px solid $white;
      }
    }

    &.disabled {
      background: $grey-darken-sample-2;
      border: none;
      cursor: not-allowed;

      &.error {
        background: none;
        border: 2px solid $white;
      }

      &:hover {
        background: $grey-darken-sample-2;
      }
    }
  }
}