@import '~styles/_index';

.mobile-menu-rct-component {
  @include mquery($width-breakpoint-sm) {
    display: flex;
    flex-direction: column;
  }
  background: $gradient-black-green-3;
  display: none;
  height: 100vh;
  margin: 0;
  transition: right 0.4s;
  padding: 20px;
  position: absolute;
  top: 0;
  width: 320px;
  z-index: 1;

  &.open {
    right: 0;
  }

  &.closed {
    right: -320px;
  }

  &.should-hide {
    display: none;
  }

  .close-button {
    background: transparent;
    border: 0;
    color: $white;
    cursor: pointer;
    font: $font-weight-bold 48px $font-orbitron;
    margin-left: auto;

    &:hover {
      color: $greendream-green;
    }

    &:active {
      color: $green;
    }
  }

  .menu-container {
    margin: 20px 60px 0;

    .main-menu, .account-menu {
      flex-direction: column;
      list-style-type: none;
      margin: 0;
    }
  }
}