@import '~styles/_index';

.modal-form-rct-component {
  @include mquery($width-breakpoint-md) {
    width: 55%;
  }

  @include mquery($width-breakpoint-sm) {
    width: 80%;
  }

  flex-direction: column;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.35s;
  width: 33%;
  z-index: 100;

  &.modal {
    display: flex;
    opacity: 1;
  }

  &.bigger {
    transform: translate(-50%, calc(-50% + 90px));
  }

  &.should-hide {
    display: none;
  }

  &__title-bar {
    background: $gradient-black-green-1;
    border: 3px solid $greendream-dark-green;
    border-bottom: 0;
    border-radius: $fluid-dim-xs-1 $fluid-dim-xs-1 0 0;
    min-height: $fluid-dim-sm-1;

    .title-text {
      @include mquery($width-breakpoint-md) {
        margin: 12px 20px;
      }

      color: $white;
      font-family: $font-orbitron;
      font-size:  $font-size-md-2;
      font-weight: $font-weight-bold;
      margin: 14px;
    }

    .close-button {
      background: $gradient-green-black-1;
      border: 1px solid $greendream-dark-green;
      border-radius: 16px;
      color: $white;
      cursor: pointer;
      font-family: $font-orbitron;
      font-size: $font-size-xs-1;
      font-weight: $font-weight-bold;
      height: $fluid-dim-sm-3;
      margin: auto 15px auto auto;
      width: $fluid-dim-sm-3;

      &:hover {
        background: $gradient-light-green-green;
      }

      &:active {
        background: $gradient-neon-light-green-green;
      }

      span {
        margin: auto;
      }
    }
  }

  &__field-container {
    background: $gradient-black-green-4;
    border: 3px solid $greendream-dark-green;
    border-radius: 0 0 $fluid-dim-xs-1 $fluid-dim-xs-1;
    border-top: 0;
    flex-direction: column;
    min-height: $fluid-dim-sm-1;

    .form-instructions {
      @include mquery($width-breakpoint-sm) {
        padding: 15px;
      }

      color: $white;
      font-family: $font-roboto;
      font-size: $font-size-sm-2;
      font-weight: $font-weight-bold;
      margin: 0 auto;
      padding: 20px;
      text-align: center;
    }

    .error-area {
      @include mquery($width-breakpoint-sm) {
        padding: 15px;
      }

      padding: 20px;
      width: 100%;

      &.error {
        background: $red-lighten-2;
      }

      .error-text {
        color: $white;
        font-family: $font-roboto;
        font-size: $font-size-sm-2;
        font-weight: $font-weight-bold;
        height: $fluid-dim-xs-2;
        margin: 0 auto;
      }
    }

    .external-link {
      @include mquery($width-breakpoint-sm) {
        margin: 0 auto 15px;
      }

      color: $white;
      font-family: $font-roboto;
      font-size: $font-size-sm-2;
      font-weight: $font-weight-bold;
      margin: 0 auto 20px;
      text-decoration: underline;
    }
  }
}