@import '~styles/_index';

.page-title-rct-component {
  color: $greendream-dark-green;
  font-family: $font-roboto;
  font-size: $font-size-sample;
  font-weight: $font-weight-bold;
  margin: 0 auto 20px;
}