@import '~styles/_index';

.page-title-rct-component {
  margin: 0 auto 20px;

  &.normal {
    flex-direction: column;
  }

  &.reverse {
    flex-direction: column-reverse;
  }

  .title-text {
    color: $greendream-dark-green;
    font-family: $font-roboto;
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
    margin: auto;
    text-align: center;
  }

  .title-image {
    margin: 0 auto;
    width: $fluid-dim-md;

    &.preview {
      @include mquery($width-breakpoint-md) {
        margin: 0 auto 30px;
      }

      margin: 0 auto 20px;
      width: $fluid-dim-sample1;
    }
  }
}