@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700|Roboto:400,400i,500,500i,700,700i');
@import './_mixins';

$font-orbitron: 'Orbitron', sans-serif;
$font-roboto: 'Roboto', sans-serif;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-size-xl: fluid-font-size(24px, 48px);
$font-size-lg: fluid-font-size(16px, 36px);
$font-size-md: fluid-font-size(10px, 20px);
$font-size-sm: fluid-font-size(10px, 17px);
$font-size-xs: fluid-font-size(8px, 14px);
$font-size-sample1: fluid-font-size(14px, 20px);
$font-size-sample2: fluid-font-size(48px, 64px);
$font-size-sample3: fluid-font-size(18px, 20px);
$font-size-sample4: fluid-font-size(12px, 14px);
