@import './_mixins';

$width-breakpoint-lg: 1440px;
$width-breakpoint-md: 1024px;
$width-breakpoint-sm: 768px;
$width-breakpoint-xs: 540px;

$fluid-spacing-xl-3: fluid-spacing(12px, 64px);
$fluid-spacing-xl-2: fluid-spacing(15px, 60px);
$fluid-spacing-xl-1: fluid-spacing(12px, 48px);
$fluid-spacing-lg-2: fluid-spacing(20px, 30px);
$fluid-spacing-lg-1: fluid-spacing(8px, 28px);
$fluid-spacing-md-2: fluid-spacing(10px, 20px);
$fluid-spacing-md-1: fluid-spacing(10px, 15px);
$fluid-spacing-sm-1: fluid-spacing(5px, 15px);
$fluid-spacing-sm-2: fluid-spacing(6px, 12px);
$fluid-spacing-xs-1: fluid-spacing(2px, 10px);
$fluid-spacing-xs-2: fluid-spacing(4.5px, 7px);
$fluid-spacing-xs-3: fluid-spacing(3px, 5px);

$fluid-dim-xl-3: fluid-dim(250px, 500px);
$fluid-dim-xl-2: fluid-dim(202px, 448px);
$fluid-dim-xl-1: fluid-dim(120px, 440px);
$fluid-dim-lg-2: fluid-dim(226px, 332px);
$fluid-dim-lg-1: fluid-dim(101px, 202px);
$fluid-dim-md-3: fluid-dim(80px, 120px);
$fluid-dim-md-2: fluid-dim(50px, 75px);
$fluid-dim-md-1: fluid-dim(35px, 75px);
$fluid-dim-sm-1: fluid-dim(40px, 52px);
$fluid-dim-sm-2: fluid-dim(12px, 30px);
$fluid-dim-sm-3: fluid-dim(28px, 32px);
$fluid-dim-xs-1: fluid-dim(15px, 25px);
$fluid-dim-xs-2: fluid-dim(11px, 20px);
$fluid-dim-xs-3: fluid-dim(8px, 13px);


:export {
  lg: $width-breakpoint-lg;
  md: $width-breakpoint-md;
  sm: $width-breakpoint-sm;
}

