@import '~styles/_index';

.main-landing-rct-component {
  flex-direction: column;
  height: 100%;
  width: 100%;

  &__header {
    height: 80px;
    z-index: 1;

    .background {
      background: $gradient-black-green-1;
      width: 100vw;

      .logo {
        height: 44px;
        margin: 18px;
      }
    }
  }
}