@import '~styles/_index';

.modal-background-rct-component {
  background: background-with-opacity($black, 0.75);
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 0;

  &.modal {
    z-index: 99;
  }

  &.hidden {
    display: none;
  }

  &.visible {
    display: block;
  }
}

